 div{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 5px;
    border-color: black;
    color: black;
}
.box{
     height: 100px;
    width: 100px;
    background-color: blue;
    border: 5px;
    border-color: black;
    color: black;
}
